@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* a{
    all: unset;
}
.active{
    color: green;
}
body{
    background-color: #242526;
    color: #fff;
    box-sizing: border-box;
    font-family: Raleway, 'Sans-serif';
}
:root{
    --color-1:#242526;
    --color-2:#fff;
    --color-3:#0084ff;
    --color-4:grey;
    --color-5:#eb4034;
    --color-6:#333;
}
    .sm_screen {
        display: none;
    }
  @media screen and (max-width: 767px) {
    .home_container {
      grid-template-columns: 2fr 3fr;
    }
    .message_form {
      left: 3%;
      right: 0;
      bottom: 5px;
    }
    .message_wrapper p {
      max-width: 75%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .home_container {
      grid-template-columns: 1fr 5fr;
    }
    .user_wrapper {
      display: none;
    }
    .sm_container {
      padding: 10px 0px;
      text-align: center;
      cursor: pointer;
    }
    .sm_screen {
      display: inline-block;
    }
    .message_form{
        margin-left: -75px;
    }
    .message_form input {
      width: 40vw;
      margin: 0px 10px;
    }
    .message_form .btn {
      margin: 0px;
    }
    .message_wrapper p {
      max-width: 100%;
    }
  }